@import 'variables.scss';
@import 'mixins.scss';

* {
    box-sizing: border-box;
}

    body {font-family: 'SUIT', sans-serif;}

    .a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    }

    
    
    /** card 
    ========================================================================== */
    
    .card {
        width: min(100%, 768px);
        display: inline-block;
        background: #fff;
        padding: 40px;
        box-shadow: 0 0 20px rgba(0,0,0, .1);
        @include flex(center row);

        .cover {
            display: block;
            width: min(50%, 120px);
            aspect-ratio: 1/1;
            object-fit: cover;
            background: $gray;
            @include v-prefix(radius, 50%);
        }
    }