* {
  box-sizing: border-box;
}

body {
  color: #fff;
}

#mainForm {
  width: 460px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ff8787;
}

#mainForm fieldset {
  border: none;
}

/* 
  redered legend : https://html.spec.whatwg.org/multipage/rendering.html#rendered-legend 
  legend는 fieldset의 패딩을 무시합니다.
*/
#mainForm legend {
  font-size: 1.2em;
  text-align: center;
}

#mainForm label {
  display: block;
}

#mainForm input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  /* 그림자의 수평거리, 수직거리, 그림자 테두리 크기, 그림자의 위치(inset: 내부로)  */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  transition: all 0.3s;
}

/* 가상클래스 valid. input에 입력받은 값이 유효하다면을 의미합니다. */
#mainForm input:valid {
  background-color: #e5ebb2;
}

#mainForm button {
  /* fieldset은 BFC를 생성하기 때문에 해제가 필요 없습니다. https://html.spec.whatwg.org/multipage/rendering.html#the-fieldset-and-legend-elements */
  float: right;
  padding: 10px;
  margin-left: 10px;
  background-color: #f8c4b4;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

#mainForm progress {
  width: 100%;
}
