h1,
h2,
ul,
p {
  margin: initial;
  padding: initial;
}

li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

body {
  background-image: url(images/background.gif);
}

/* :root {
  direction: rtl;
} */
.wrapper {
  background-color: #ddd;
  width: 800px;
  margin: 40px auto;
  text-align: center;
}

.header {
  background-image: url(images/cover02.png);
  background-size: cover;
  /* height: auto;*/
  padding: 50px 0;
  color: white;
  /* height을 주는 것보다 상하단 패딩을 줘서 자연스럽게 레이아웃이 될 수 있도록 */
}
/* img 는 명시적으로 표현, .header 정리차원에서도 적는다 */
.header img.profil {
  border: 10px solid white;
  width: 150px;
  border-radius: 0 40px 40px 0;
}

.header h1 {
  /* height: inherit; */
  border-bottom: 4px solid currentColor;
  width: 200px;
  margin: 30px auto;
  box-shadow: inset 10px 10px 10px 10px black;
}

.header p {
}

.contents {
  text-align: left;
}

.contents .section {
}

.section {
  background-color: white;
  margin: 30px;
  padding: 30px;
  background-image: url(images/icon-information.png);
  background-repeat: no-repeat;
  background-position: right 40px center;
}

.skills {
  background-image: url(images/icon-skills.png);
}

.section h2 {
  color: #ff6600;
  margin-bottom: 20px;
}

.footer {
  background-color: #f4f4f4;
}
