body {
  background: url(./images/bg.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

img {
  vertical-align: top;
}

h1,
p {
  margin: 0;
}

.card {
  color: #fff;
  max-width: 500px;
}

.wrapper {
  box-shadow: inset 0 0 10px red;
  width: 300px;
  margin: 100px auto;
}

.card-cover {
  margin: 0 auto;
  display: block;
}

.card-cover {
  box-shadow: inset 0 0 10px blue;
}

.card-contents {
  border-radius: 10px 10px 30px 30px;
  box-shadow: inset 0 0 10px purple;
  background-color: brown;
  color: white;
  background-color: #93572e;
  background-image: url(images/green.png);
  background-repeat: repeat-x;
  padding: 64px 20px 40px 20px;
  border-bottom: 10px solid #4a260b;
}

.card-contents h1 {
  margin-bottom: 10px;
}

.card-contents p {
  color: antiquewhite;
  margin: 1.2em 0;
}
