:root {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-weight: 700;
}

h2,
p,
ul,
li {
  font-weight: 500;
}

body {
  background-color: #673399;
}
h1,
h2,
ul {
  margin: 0;
}
.top-wrapper {
  margin: 100px auto;
  width: 1080px;
  display: flex;
  align-items: center;
  justify-content: start;
}
h1 {
  display: inline;
  color: #fff;
  font-size: 40px;
  text-align: start;
  font-weight: 700;
}
p {
  text-align: start;
  line-height: 1.5em;
  color: #bd8fe8;
  display: inline-block;
}
.underline {
  box-shadow: inset 0 -20px 0 orangered;
}
.dividline {
  margin: 0 30px;
  width: 100px;
  height: 2px;
  font-size: 14px;
  background: #bd8fe8;
}

.container {
  width: 1080px;
  margin: auto;
  background-color: #fff;
  display: flex;
  align-items: start;
}

.img-card {
  position: relative;
  max-width: 26%;
  height: 166px;
}
.img-card > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.img-card::after {
  position: absolute;
  content: 'Rest';
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: orangered;
  opacity: 0.2;
}
.content {
  width: 74%;
  padding: 24px;
}

.order {
  font-size: 14px;
  line-height: 1em;
  margin-left: -1.4em;
}

.order:not(:last-child) {
  margin-bottom: 0.4em;
}
.order::marker {
  font-size: 25px;
  color: #bd8fe8;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 32px;
  font-weight: 700;
  color: #673399;
}
