body,
p,
ul,
figure,
button {
  margin: initial;
  padding: initial;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: initial;
  margin: initial;
}

:root {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  --font-size-lg: clamp(24px, 3.5vw, 48px);
  --font-size-md: clamp(24px, 2.5vw, 36px);
  --font-size-sm: clamp(14px, 2vw, 16px);
}

img {
  /* max-width: 100%; */
  height: auto;
  vertical-align: top;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  background: #fff;
}

.l-wrapper {
  margin: 0 auto;
  width: 1920px;
}

.header-bg {
  background-color: #f2e9d8;
}

.header {
  position: relative;
  width: 66%;
  margin: 0 auto;
  padding-top: 31px;
  padding-bottom: 262px;
}

.top-header {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 231px;
}

.header-logo a img {
  width: clamp(92px, 18vw, 130px);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: var(--font-size-sm);
}

.header-nav ul li + li {
  margin-left: 30px;
}

.header-btn {
  margin-left: 40px;
  padding: 15px 30px;
  border: none;
  background: #d97652;
  font-size: var(--font-size-sm);
  font-weight: 700;
  color: #fff;
  border-radius: 40px;
}

.toogle-btn {
  display: none;
}

.about-headings {
  font-weight: 700;
  font-size: var(--font-size-lg);
}

.about-contxt {
  padding: 40px 0;
  font-size: var(--font-size-sm);
}

.about-btn {
  border: none;
  background: #d97652;
  padding: 15px 30px;
  border-radius: 40px;
  font-weight: 700;
  font-size: var(--font-size-sm);
  color: #fff;
}

.about-img {
  position: absolute;
  width: clamp(197px, 50%, 415px);
  margin-bottom: -120px;
  bottom: 0;
  right: 0;
}

/* main */

.main {
  width: 66%;
  margin: auto;
}

.section-body {
  padding: 80px 0 90px 0;
}

.intro-img {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: clamp(326px, 50%, 660px);
}

.body-intro {
  display: flex;
  gap: 110px;
  align-items: center;
}

.intro-headings {
  font-weight: 700;
  font-size: var(--font-size-md);
  padding-bottom: 30px;
}

.intro-contxt {
  font-size: var(--font-size-sm);
}

.info-headings {
  font-size: var(--font-size-lg);
  font-weight: 700;
  color: #d97652;
}

.body-info {
  margin-top: 120px;
  margin-bottom: 88px;
  text-align: center;
}

.info-contxt {
  font-size: var(--font-size-sm);
  padding-top: 40px;
}

.info-contxt strong {
  color: #d97652;
}

.gallery-list {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-x: scroll;
  margin-bottom: 90px;
}

.gallery-caption {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-list li ~ li {
  padding-left: clamp(20px, 2vw, 72px);
}

.gallery-list li button {
  border: none;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  overflow: hidden;
}

.gallery-list li button,
.gallery-list li button img {
  width: clamp(260px, 20vw, 378px);
}

.caption-contxt {
  font-size: var(--font-size-sm);
  padding-right: 52px;
}

.caption-btn {
  padding: 15px 30px;
  font-weight: 700;
  font-size: var(--font-size-sm);
  border: none;
  background: #d97652;
  border-radius: 40px;
  color: #fff;
}

.banner-subscribe {
  position: relative;
  margin-bottom: -100px;
  width: 100%;
  min-width: 326px;

  padding: 50px 58px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #263140;
  border-radius: 30px;
  color: #fff;
}

.subscribe-headings {
  font-weight: 700;
  font-size: var(--font-size-md);
  padding-bottom: 18px;
}

.subscribe-contxt {
  font-size: 14px;
  color: #f2e9d8;
}

.subscribe-form {
  width: 530px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding-right: 5px;
  border-radius: 60px;
}

.subscribe-inpt {
  display: flex;
  align-items: center;
}

.subscribe-inpt img {
  padding-left: 30px;
  padding-right: 18px;
}

.subscribe-inpt input {
  font-size: var(--font-size-sm);
  border: none;
  background-color: none;
}

.subscribe-inpt input:focus {
  outline: none;
}

.subscribe-btn {
  border: none;
  padding: 15px 30px;
  background: #d97652;
  border-radius: 40px;
  font-weight: 700;
  font-size: var(--font-size-sm);
  color: inherit;
}

/* footer */

.footer-img {
  width: 100%;
  height: 340px;
  object-fit: cover;
}

.footer-logo a img {
  width: clamp(112px, 20vw, 226px);
}

.section-share {
  width: 66%;
  margin: auto;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.share-link {
  display: flex;
}

.share-link li ~ li {
  padding-left: 20px;
}

.footer-nav {
  text-align: right;
  font-size: 14px;
  display: none;
}

.footer-nav ul li + li {
  padding-top: 16px;
}

@media (max-width: 1900px) {
  .l-wrapper {
    width: 100%;
  }
}
@media (max-width: 1730px) {
  .top-header {
    margin-bottom: 40px;
  }
  .about-img {
    display: block;
    position: static;
    margin: auto;
    margin-top: 30px;
  }
  .header {
    padding-bottom: 0px;
  }
  .banner-subscribe {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 1410px) {
  .gallery-caption {
    flex-direction: column;
    gap: 41px;
    align-items: end;
  }
  .caption-contxt {
    margin: auto;
    padding: 0px;
  }
}
@media (max-width: 1250px) {
  .about-explain {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 860px) {
  .body-info {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .gallery-list {
    margin-bottom: 60px;
  }
  .section-body {
    padding: 32px 0 50px 0;
  }
  .header {
    width: 85%;
  }
  .toogle-btn {
    display: block;
  }
  .main {
    width: 85%;
  }
  .section-share {
    width: 85%;
  }
  .header-nav {
    display: none;
  }
  .body-intro {
    flex-direction: column;
    gap: 40px;
  }
  .banner-subscribe {
    padding: 36px 32px 100px 32px;
  }
  .subscribe-btn {
    position: absolute;
    right: 0;
    bottom: -68px;
  }
  .subscribe-form {
    position: relative;
    width: 100%;
    height: 40px;
  }
  .subscribe-inpt img {
    padding-left: 17px;
    padding-right: 14px;
  }
}
@media (max-width: 450px) {
  .section-share {
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
  }
  .footer-nav {
    display: block;
    position: absolute;
    right: 20px;
  }
  .share-link li ~ li {
    padding-left: 16px;
  }
}
